.container {
    background-color: rgb(173, 170, 216);
    margin: auto;
    padding: 4px;
    border: 1px solid black;
    height: 500px;
    width: auto;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-around; */
    max-width: 750px;

}
.btn {
    /* flex: stretch; */
}
section {
  background-color: white;
  padding: 3px;
  text-align: center;
}
