.form-row {
  margin: 1rem 0;
  max-height: 2rem;
}
.form-group, input {
  width: 100px;
  text-align: center;
}
.form-control {
  padding: 0;
  /* text-align: center; */
}
select {
  padding: 0;
  text-align: center;
}
